:root {
  --branding-color: #55CDD6;
  --secondary-color: #f9f7fe;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}

body {
  font-family: var(--default-font-family);
}

.navbar {
  height: 150px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: black;
  font-family: var(--heading-font-family);
  font-weight: bold;
}

h1 {
  font-size: 96px;
  line-height: 1.5;
}

h2 {
  font-size: 64px;
}

h3 {
  font-size: 48px;
}

p {
  font-weight: normal;
  font-size: 15px;
  line-height: 30px;
}


img {
  border-radius: 4px;
}

.hero {
  background: var(--secondary-color);
  text-align: center;
  padding: 40px 20px 80px;
}

.hero p {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
  color: #272142;
}

.hero h2 {
  font-family: var(--heading-font-family);
  font-weight: normal;
  line-height: 1.5;
  font-size: 24px;
}

.content-container {
  padding: 40px 20px 0;
}

.content-container h1 {
  font-size: 64px;
  line-height: 80px;
}

.content-container h2 {
  font-size: 18px;
  font-family: var(--default-font-family);
}

.project-images img:hover {
  transform: scale(1.05);
  transition: all 200ms ease-in-out;
}

.content {
  margin: 30px;
}

.content h3 {
  font-size: 24px;
  font-family: var(--default-font-family);
  line-height: 1.5;
}

.content p {
  color: #272142;
  font-size: 14px;
  margin: 0;
}

.btn-branding {
  background: var(--branding-color);
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.btn-branding-outline {
  border-radius: 4px;
  border: 1px solid var(--branding-color);
  color: var(--branding-color);
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

a.btn-branding-outline:hover {
  background: var(--branding-color);
  color: white;
}

.project-description {
  padding: 80px 60px;
}

.profile-picture {
  width: 460px;
}

.contact {
  text-align: center;
}

a.contact-me:hover {
  border: 1px solid var(--branding-color);
  color: var(--branding-color);
}

.logo {
  max-width: 200px;
}

.active {
  color: var(--branding-color) !important;
}

.nav-item {
  padding: 0 20px;

}

footer {
  margin: 50px 50px 10px;
}

footer .contact-box {
  background-color: var(--secondary-color);
  padding: 30px 100px;
}

footer .contact-box p {
  margin: 0;
}

footer .email-link {
  color: #272142;
  font-size: 18px;
  text-align: center;
}

footer .email-link:hover {
  color: var(--branding-color);
}

footer .social-links a {
  background-color: var(--secondary-color);
  border-radius: 50%;
  color: var(--branding-color);
  font-size: 20px;
  margin: 20px 20px;
  padding: 10px;
}

footer .social-links a:hover {
  color: var(--secondary-color);
  background-color: var(--branding-color);
  transition: all 200ms ease-in-out;
}

.ai-project-image {
  padding-top: 150px;
}

p a {
  color: var(--branding-color);
}


@media (max-width: 900px) {
  .hero {
    padding-bottom: 20px;
  }

  h1 {
    font-size: 60px;
    line-height: 2;
  }

  h2 {
    font-size: 44px;
  }

  h3 {
    font-size: 26px;
  }

  p {
    text-align: center;
  }

  .project-description {
    padding: 0;
    text-align: center;
  }

  .content-container {
    text-align: center;
    padding: 0;
  }

  .profile-picture {
    margin-left: 5px;
  }
}